:root {
    --black: #2E2A24;
    --black75: #625F5B;
    --black50: #969491;
    --black25: #C8C6C1;
    --black5: #F4F3F2;
    --white: #FFFFFF;
    --primary-color: #00488C;
    --primary-color-10: #CCDAE8;
    --secondary-color: #F6AA1C;
    --accent: #9DDFD3;
    --primary-gradient: linear-gradient(123.1deg, #003261 12.28%, #001F3C 78.14%);
    --secondary-gradient: linear-gradient(268.24deg, #9DDFD3 17.32%, #3D968B 99.34%);
    --padding-button: 10px 20px;
    --border-radius: 20px;
}

::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
  }


html {
    font-size: 62.5%; /* 1em = 10px */
}

*, 
::before, 
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}


h2 {
    color: var(--primary-color);
    font-size: 2.6em;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 60px;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 10px;
}

/*---------- tlačítka odkazů ---------*/
.button {
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: var(--border-radius);
}

.rotary-int,
.link2240 {
    background: var(--primary-gradient);
    color: var(--black5);
}

.rotary-int:hover,
.link2240:hover {
    background: var(--secondary-color);
    color: var(--black);
}

/*=====================================*/

/* header start */

header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid var(--black25);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.rotary-logo {
    cursor: pointer;
}

.main-menu {
    display: flex;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    /* text-transform: uppercase; */
    font-size: 1.5em;
    font-weight: 400;
    color: var(--black);
    
}

.main-menu ul li a {
    padding: 10px 20px;
    border: 1px solid var(--white);
    border-radius: var(--border-radius);
}
.main-menu ul li a:hover {
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
}

.main-menu ul li a:last-of-type {
    margin-left: 10px;

}

/* header styling end */

/* ------------------------- hero section start */

.hero-wrapper {
    max-width: 1120px;
    height: 100%;
    padding-top: 140px;
}

.hero {
    height: 100vh;
    background-color: var(--black75);
    background-image: url(images/praha-pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 4.9em;
    line-height: 120%;
    margin: 30px auto 90px auto;
}

.hero p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    margin: auto;
}

.cta-button {
    width: 274px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 145%;
    text-transform: none;
    background-color: var(--accent);
    padding: 12px 24px;
    border-radius: var(--border-radius);
    text-align: center;
    display: block;
    margin: auto;
}

.cta-button img {
    margin-left: 20px;
    vertical-align: text-top;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

/* hero section end */

/* ---------------------- Kdo jsme section start */
.kdo-jsme-wrapper {
    padding: 0 15% 120px 15%;
}

#kdo-jsme h2 {
    color: var(--black5);
    padding-top: 140px;
}

h2::before {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    left: -20px;
}

#kdo-jsme {
    background: var(--primary-gradient);
}

.kdo-jsme-wrapper p {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
    color: var(--black5);
    margin-bottom: 30px;
    position: relative;
}

.kdo-jsme-wrapper p:last-of-type {
    margin-bottom: 0;
}

.kdo-jsme-wrapper p::before {
    content: url(icons/chevron-right.svg);
    position: absolute;
    top: 0;
    left: -40px; 
}

/* Kdo jsme section end */

/* ---------------------------------- */
.projekty-aktuality-wrapper,
.contacts-wrapper {
    padding: 140px 15px 120px 15px;
}
/* ---------------------------------- */

/* ------------------------------ Projekty-aktuality section start */

.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    justify-content: space-between;
}

.cards-container h2 { /* nadpis h2 Pomáháme s radostí (mise & vize) */
    grid-column-start: 1;
    grid-column-end: -1;  

}

.card {
    padding: 40px 35px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card__mise-vize {
    background-color: var(--black5);
    color: var(--black);
    font-size: 1.4em;
    text-align: center;
    line-height: 150%;
    color: var(--black);
}

.card-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 30%;
    justify-content: space-between;
}

.ikona-mise-vize {
    display: inline-block;
    height: 60px;
}

.mise-vize p {
    line-height: 1.5em;
}

.members {
    border-radius: var(--border-radius);
    display: block; 
    margin: 60px auto 0 auto;
    max-width: 600px;

}

#projekty-aktuality {
    position: relative;
}

.background {
    width: 100%;
    height: 500px;
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color-10);
    position: absolute;
    z-index: -998;
    top: 45%;
}

/* Projekty-aktuality section end */

/* ---------------------------------- Kontakty section start */

.cards-container__flex {
    padding: 0 10%;
    display: flex;
    flex-wrap: no-wrap;
    gap: 30px;
    justify-items: center;
    justify-content: center;
    margin-top: 30px;
}

.cards-container__flex .card {
    flex: 0 0 30%;
    justify-content: space-between;

}

.card-contact {
    text-align: center;
    font-size: 1.6em;
    line-height: 150%;
}

.card__contact-name img {
    display: block;
    margin: 0 auto 15px auto;
}

.card__contact-name h3 {
    margin-bottom: 10px;
}

.contact-info a {
    display: block;
    margin-bottom: 10px;
}

.tel::before {
    content: url(icons/phone.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    left: -5px;
}

.email::before {
    content: url(icons/mail.svg);
    display: inline-block;
    position: relative;
    top: 5px;
    left: -11px;
}

.card-1 {
    background-color: var(--primary-color-10);
    color: var(--primary-color);
}

.card-2 {
    background-color: var(--secondary-color);
}

.card-3 {
    background-color: var(--primary-color);
    color: var(--black5);
}

.card-4 {
    background-color: var(--black75);
    color: var(--black5);
}

.card-5 {
    background-color: var(--black75);
    color: var(--black5);
}

.distrikt2240 {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-top: 150px;
}

.link2240 {
    align-self: center;
    color: var(--black5);
    background: var(--primary-gradient);
    letter-spacing: 0.04em;
    font-weight: 400;
    border-radius: var(--border-radius);
    padding: 12px 22px;
    font-size: 1.4em;
}

.logo-distrikt2240 {
    cursor: pointer;
}

/* Kontakty section end */


/* ------------------- footer start */
footer {
    background: var(--primary-gradient);
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    font-size: 1.4em;
    color: var(--white);
}

.link-fb {
    background-color: var(--secondary-color);
    padding: var(--padding-button);
    margin-left: 15px;
}

.link-fb:hover {
    border: 1px solid  var(--secondary-color);
    background-color: transparent;
}

.fb-icon {
    margin-right: 10px;
    vertical-align: middle;
}

.up {
    background-color: var(--primary-color-10);
    color: var(--black);
    padding: var(--padding-button);
    font-size: 1.4em;
    font-weight: 600;
}

.up:hover {
    border: 1px solid var(--primary-color-10);
    background-color: transparent;
    color: var(--white);
}

/* footer end */