:root {
    --black: #2E2A24;
    --black75: #625F5B;
    --black50: #969491;
    --black25: #C8C6C1;
    --black5: #F4F3F2;
    --white: #FFFFFF;
    --primary-color: #00488C;
    --primary-color-10: #CCDAE8;
    --secondary-color: #F6AA1C;
    --accent: #9DDFD3;
    --primary-gradient: linear-gradient(123.1deg, #003261 12.28%, #001F3C 78.14%);
    --secondary-gradient: linear-gradient(268.24deg, #9DDFD3 17.32%, #3D968B 99.34%);
}

::selection {
    color: var(--primary-color);
    background: var(--secondary-color);
  }


html {
    font-size: 62.5%; /* 1em = 10px */
}

*, 
::before, 
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    background-color: var(--white);
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

h2 {
    color: var(--black);
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1120px;
    /* border: 1px solid red; */
    margin: auto;
    padding: 10px;
}
/*-----------------------------*/

/* header styling start */

header {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.rotary-logo {
    cursor: pointer;
}

.main-menu {
    display: flex;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    /* text-transform: capitalize; */
    font-size: 1.4em;
    font-weight: 400;
    color: var(--black75);
}

.main-menu ul li a {
    padding: 10px 20px;
}

.main-menu ul li a:last-of-type {
    margin-left: 10px;
}

.main-menu ul li a:hover {
    color: var(--primary-color);
}

.rotary-int {
    color: var(--black5);
    background: var(--primary-gradient);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 30px;
}

.rotary-int:hover {
    background: var(--secondary-color);
    color: var(--black);
}



/* header styling end */

/* hero section start */

.hero-wrapper {
    max-width: 1120px;
    height: 100%;
    padding-top: 140px;
}

.hero {
    height: 100vh;
    background-color: var(--black75);
    background-image: url(images/praha-pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 4.9em;
    line-height: 120%;
    margin: 30px auto 90px auto;
}

.hero p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    margin: auto;
}

.cta-button {
    width: 274px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 145%;
    text-transform: none;
    background-color: var(--accent);
    padding: 12px 24px;
    border-radius: 30px;
    text-align: center;
    display: block;
    margin: auto;
    
}

.cta-button img {
    margin-left: 20px;
    vertical-align: text-top;
}

.cta-button:hover {
    background-color: var(--secondary-color);
}

/* hero section end */



/* Kdo jsme section start */
.kdo-jsme-wrapper {
    padding: 0 15% 120px 15%;
}

h2 {
    font-size: 2.6em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 60px;
    position: relative;
    
}

#kdo-jsme h2 {
    color: var(--black5);
    padding-top: 140px;
   
}

h2::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -10px;
    left: -20px;
}

#kdo-jsme {
    background: var(--primary-gradient);
}

.kdo-jsme-wrapper p {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
    color: var(--black5);
    margin-bottom: 30px;
    position: relative;
}

.kdo-jsme-wrapper p:last-of-type {
    margin-bottom: 0;
}

.kdo-jsme-wrapper p::before {
    content: url(icons/chevron-right.svg);
    position: absolute;
    top: 0;
    left: -40px; 
}

/* Kdo jsme section end */

/* ---------------------------------- */
.projekty-aktuality-wrapper,
.contacts-wrapper {
    padding: 140px 15px 120px 15px;
}
/* ---------------------------------- */

/* Projekty-aktuality section start */

.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    justify-content: space-between;
}

.cards-container h2 { /* nadpis h2 Pomáháme s radostí (mise & vize) */
    grid-column-start: 1;
    grid-column-end: -1;  

}

.card {
    padding: 40px 35px;
    background-color: var(--black5);
    color: var(--black);
    border-radius: 20px;
    color: var(--black);
    font-size: 1.4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.mise-vize-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 30%;
    justify-content: space-between;
}

.ikona-mise-vize {
    display: inline-block;
    height: 60px;
}

.mise-vize p {
    line-height: 1.5em;
}

.members {
    border-radius: 20px;
    display: block; 
    margin: 60px auto 0 auto;
    max-width: 600px;

}
#projekty-aktuality {
    position: relative;
}
.background {
    width: 100%;
    height: 500px;
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color-10);
    position: absolute;
    z-index: -998;
    top: 45%;
}

/* Projekty-aktuality section end */

/* Kontakty section start */

.card-contact {
    background-color: var(--white); 
}

.distrikt2240 {
    grid-column: -4 / -1;
    grid-row: 4 / 5;


}
/* Kontakty section end */