:root {
    --black: #2E2A24;
    --black75: #625F5B;
    --black25: #C8C6C1;
    --black5: #F4F3F2;
    --white: #FFFFFF;
    --primary-color: #00488C;
    --secondary-color: #F6AA1C;
    --akcent: #9DDFD3;
    --primary-gradient: linear-gradient(123.1deg, #003261 12.28%, #001F3C 78.14%);
    --secondary-gradient: linear-gradient(268.24deg, #9DDFD3 17.32%, #3D968B 99.34%);
}


html {
    font-size: 62.5%; /* 1em = 10px */
}

*, 
::before, 
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: 1120px;
    border: 1px solid red;
    margin: auto;
}
/*-----------------------------*/

/* header styling start */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;

}

.rotary-logo {
    cursor: pointer;
}

.main-menu {
    display: flex;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    padding: 0 10px;
    color: var(--black75);
}

.main-menu ul li:last-of-type {
    padding: 0 0 0 10px;
}

.rotary-int {
    padding: 8px 24px;
    color: var(--black5);
    background: var(--primary-gradient);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 20px;
}

header {
    background-color: var(--white);
    position: sticky;
    top: 0;
}



/* header styling end */

.hero-wrapper {
    max-width: 1120px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-content: top;

}

.hero {
    height: 100%;
    background-color: black;
    background-image: url(images/praha-pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    color: var(--white);
    text-align: center;
    font-weight: 800;
    font-size: 4.9em;
    line-height: 120%;
    /* padding-bottom: 60px; */
}

.hero p {
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    padding-bottom: 20px;
}

.cta-button {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 0.04em;
    text-transform: none;
    background-color: var(--akcent);
    padding: 14px 36px;
    border-radius: 30px;
    margin: 30px auto;
    display: flex;
    gap: 30px;
    vertical-align: text-top;
}




